[Bb]in
[Oo]bj
[Ll]og
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tar.gz
*.swp
*.vsidx
*.v2
read.lock
*.suo
._*
.Spotlight-V100
.Trashes
.idea
Icon?
ehthumbs.db
Thumbs.db
.DS_Store
*/.DS_Store
.vscode/**
.vs/**
*.csproj.user
